<%-include('./inc/header')%>

<section class="banner">
  <div class="content">
    <h3 class="pt-5">Welcome!
      <!-- <br><span>Up to 50% off</span> -->
    </h3>
    <!-- <button id="shopnow">Shop now</button> -->
    <!-- <a href="/sp" id="shopnow" class="button">Shop now</a> -->
  </div>

  <div class="img">
    <img src="/images/imgdrink.png" alt="">
  </div>
</section>

<%-include('./inc/footer')%>
